body {
	padding-top: 50px;
	padding-bottom: 20px;
	text-align: center;
	background: url('../img/background_blur.jpg') no-repeat center center fixed;
	background-size: cover;
	-o-background-size: cover;
}

h2 {
	margin-bottom: 20px;
}

h3 {
	font-size: 20px;
}

form {
	margin-top: 20px;
}

th {
	text-align: center;
}

.hidden {
	display: none;
}

.fulltab {
	width: 50%;
}

.card {
	min-width: 250px;
	padding: 20px;
	background-color: #F7F7F7;
	margin: 80px auto 40px;
	border-radius: 5px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.card-fixed {
	max-width: 550px;
}

.card-adapt {
	display: inline-block;
}

.container-main {
	padding-right: 30px;
	padding-left: 30px;
}

.padded-top {
	padding-top: 30px;
}

.btn-play {
	width: 10em;
	height: 3em;
}

.alert {
	max-width: 700px;
	margin: auto;
}

.glyphicon {
	margin-left: 5px;
}

.dropdown-menu form {
	padding: 3px 20px;
	margin-top: 10px;
}

.dropdown-menu a {
	padding: 8px 20px !important;
}

#nav-email {
	font-weight: bold;
}

#dashboard {
	margin: 0 10px;
}

#gameList {
	max-height: 300px;
	overflow: auto;
	margin-top: 20px;
}

#plateau {
	background-color: #684533;
	padding: 12px;
	border-radius: 3px;
}

#plateau .shadow {
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}